# Byte-compiled / optimized / DLL files
.idea/
# Python bytecode cache
__pycache__/
*.pyc
*.pyo
*.pyd
Condition/__pycache__/
Logs/
venv/
.venv/
/Scripts/Upgrade_Downgrade.script
Archive/complaince_test.py
Archive/compliance_matrix_test2.py
/DTC/dtc_report.xlsx